# ====== 数据库配置 ======
DB_PROVIDER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=your-username
DB_PASSWORD=your-password
DB_DATABASE=your-database

# ===== 大模型配置 =====
LLM_API_KEY=your-api-key
LLM_MODEL=your-model-name
LLM_BASE_URL=your-api-base-url
LLM_TEMPERATURE=0.0
LLM_MAX_TOKENS=2000
LLM_TIMEOUT=60
